<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

<table style="margin-left:0">
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Jupyter Notebook</td>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>VS Code (Visual Studio Code)</td>
    </tr>
</table>
<align="right">

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [9]:
#This a simple arithmetic expression to mutiply
print((3*4)+5)

17

In [11]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes /60

print (hours,"hours")

3.3333333333333335 hours

**Objectives:**

- List popular languages for Data Science.
- Introduce common libraries used in Data Science.
- Demonstrate creating tables in Jupyter Notebook.
- Discuss key takeaways and tools used by Data Scientists.

<h2>Author</h2>
Subhkanish Ravindra Rajan